.container
  .row
    .col-md-3
      = render "layouts/sidebar"
    .col-md-9
      %h1.mb-4 新規会員登録
      %p
        既に登録済みの方は
        = link_to "こちら", new_session_path(resource_name)
        からログインしてください。
      = render "devise/shared/error_messages", resource: resource
      .new-registration-form
        = form_with model: resource, url: customer_registration_path, local: true do |f|
          %table.table.table-borderless
            %tr
              %th.w-25 ユーザー名
              %td.w-25= f.text_field :name, placeholder: "10文字以内"
            %tr
              %th メールアドレス
              %td= f.text_field :email, placeholder: "dieter@sample.com"
            %tr
              %th パスワード
              %td= f.password_field :password, placeholder: "パスワード(6文字以上)"
            %tr
              %th パスワード
              %td= f.password_field :password_confirmation, placeholder: "パスワード(確認用)"
            %tr
              %th 性別
              %td
                = f.radio_button :gender, 1
                男性
                = f.radio_button :gender, 2
                女性
            %tr
              %th 生年月日
              %td
                = f.text_field :birthyear, placeholder: "2000"
              %td
                年
                = f.date_select :birthdate, {discard_year: true, use_month_numbers: true}
            %tr
              %th 身長
              %td
                = f.text_field :height, placeholder: "170.9"
              %td
                cm
            %tr
              %th 目標体重
              %td
                = f.text_field :target_weight, placeholder: "67.6"
              %td
                kg
            %tr
              %th 目標体脂肪率
              %td
                = f.text_field :target_body_fat_percentage, placeholder: "15.3"
              %td
                ％
            %tr
              %th
              %td= f.submit "新規登録", class: "btn btn-success px-5"

