$("#tries_buttons_#{@diet_method.id}").html("#{ j(render "tries/try", diet_method: @diet_method) }");
$("#new-diary-form").html("#{ j(render "diaries/form") }");
$("#quick-diary-form").html("#{ j(render "diaries/quick_form", diary: @diary) }");
$("#flash-wrapper").html("#{ j(render "layouts/flash") }")