$("#follow_bottons_#{@customer.id}").html("#{ j(render "relationships/follow_form", customer: @customer) }")
$("#followings_count_#{@customer.id}").html("#{@customer.followings.count}")
$("#followers_count_#{@customer.id}").html("#{@customer.followers.count}")