- if diaries.present?
  .diary-scroll-list.jscroll
    - diaries.each do |diary|
      .card.mb-3.shadow-sm
        .card-body
          = link_to diary_path(diary.id), class: "text-decoration-none text-dark" do
            %object.row.pt-2
              .col-md-6
                .d-flex
                  .text-center
                    = link_to customer_path(diary.customer), data: {"turbolinks" => false}, class: "text-dark font-weight-bold" do
                      = attachment_image_tag(diary.customer, :profile_image, :fill, 70, 70, fallback: "no_image.png", size: "70x70")
                      %br
                      - if params[:q].present?
                        = highlight(diary.customer.name, params[:q][:title_or_body_or_customer_name_cont_any])
                      - else
                        = diary.customer.name
                  %h3.ml-3.mt-3
                    - if params[:q].present?
                      = highlight(diary.title, params[:q][:title_or_body_or_customer_name_cont_any])
                    - else
                      = diary.title
              .col-md-6.d-flex.justify-content-between.align-items-start.mt-3
                .info
                  %span.badge.badge-danger
                    now
                  = diary.customer.height
                  cm&nbsp;
                  = diary.weight
                  kg&nbsp;
                  - if diary.body_fat_percentage.present?
                    = diary.body_fat_percentage
                    \%
                  %br
                  %span.badge.badge-success
                    goal
                  = diary.customer.target_weight
                  kg&nbsp;
                  - if diary.customer.target_body_fat_percentage.present?
                    = diary.customer.target_body_fat_percentage
                    \%
                - if customer_signed_in?
                  #dropdownDiaryMenuButton{"data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
                    %i.fas.fa-ellipsis-h.icon.btn.btn-outline-danger.rounded-circle.p-2.mr-3{title: "もっと見る"}
                  .dropdown-menu.dropdown-menu-right.text-center{"aria-labelledby": "dropdownDiaryMenuButton"}
                    - if current_customer == diary.customer
                      = link_to edit_diary_path(diary), class: "text-dark d-block" do
                        %i.far.fa-edit
                        編集
                      = link_to "#", class: "text-dark d-block", "data-target": "#destroy-confirm-#{diary.id}", "data-toggle": "modal", type: "button" do
                        %i.far.fa-trash-alt
                        削除
                    - else
                      - if current_customer.blocking?(diary.customer)
                        = link_to "ブロック解除", "#", class: "text-dark d-block", "data-target": "#block-confirm-#{diary.customer.id}", "data-toggle": "modal", type: "button"
                      - else
                        = link_to "#", class: "text-dark d-block", "data-target": "#block-confirm-#{diary.customer.id}", "data-toggle": "modal", type: "button" do
                          %i.fas.fa-ban
                          ブロック
                      - if Report.where(visitor_id: current_customer.id, diary_id: diary.id).present?
                        報告済みです
                      -else
                        = link_to reports_path(diary_id: diary.id), method: :post, class: "text-dark" do
                          %i.fas.fa-bullhorn
                          報告
                  = render "blocks/block_form", customer: diary.customer
                  = render "diaries/destroy_modal", diary: diary
            .row.py-2
              .col-md-12.body-wrapper
                - if diary.body.present?
                  %p.mb-0
                    - if params[:q].present?
                      = highlight(safe_join(diary.body.truncate(200).split("\n"),tag(:br)), params[:q][:title_or_body_or_customer_name_cont_any])
                    - else
                      = safe_join(diary.body.truncate(200).split("\n"),tag(:br))
            .row.py-2
              .col-md-12
                = render "diaries/check_list", diary: diary
            .row.py-2
              .col-md-12
                - if diary.food_calorie.present?
                  %span.badge.badge-success.ml-2 摂取
                  %span.text-success
                    = diary.food_calorie
                    Kcal
                - if diary.activity_calorie.present?
                  %span.badge.badge-danger.ml-2 消費
                  %span.text-danger
                    = diary.activity_calorie
                    Kcal
          - if diary.diary_images.present?
            .images-wrapper
              - diary.diary_images.each do |image|
                .image.text-center.border
                  = attachment_image_tag(image, :image, :fit, 783, 440)
          = link_to diary_path(diary.id), class: "text-decoration-none text-dark" do
            %object.row
              .col-md-1
                - if customer_signed_in?
                  %div{:id => "favorites_buttons_#{diary.id}"}
                    = render "diary_favorites/favorite", diary: diary
                - else
                  %i.far.fa-heart
                    - if diary.diary_favorites.present?
                      = diary.diary_favorites.count
              .col-md-1
                %i.far.fa-comment{title: "コメント"}
                - if diary.diary_comments.present?
                  = diary.diary_comments.count
              .col-md-1
                - if current_customer == diary.customer
                  - if diary.body.present?
                    = link_to "http://twitter.com/share?url=#{ENV['HOST']}diaries/#{diary.id}/&text=#{diary.body.truncate(100)}体重：#{diary.weight}kg・体脂肪率：#{diary.body_fat_percentage}％&hashtags=Dieter", target: :_blank, rel: "noopener noreferrer" do
                      %i.fab.fa-twitter.text-primary{title: "twitter"}
                  - else
                    = link_to "http://twitter.com/share?url=#{ENV['HOST']}diaries/#{diary.id}/&text=体重：#{diary.weight}kg・体脂肪率：#{diary.body_fat_percentage}％&hashtags=Dieter", target: :_blank, rel: "noopener noreferrer" do
                      %i.fab.fa-twitter.text-primary{title: "twitter"}
              .col-md-9.text-right
                #{time_ago_in_words(diary.created_at).upcase}前
    .d-none
      = paginate diaries
- else
  %p 投稿された日記はありません。