= form_with model: diary, local: true, id: "diary-form" do |f|
  .field.mt-4
    = f.label :post_date, "日付", class: "font-weight-bold"
    .form-inline
      = f.date_select :post_date, {}, class: "w-100 mr-1"
      日
  .field
    = f.label :weight, "体重", class: "font-weight-bold"
    %span.badge.badge-danger.ml-2 必須
    .form-inline
      = f.text_field :weight, class: "form-control mr-1 w-100", "data-error_placement": "#weight_error"
      kg
    #weight_error
  .field
    = f.label :body_fat_percentage, "体脂肪率", class: "font-weight-bold"
    .form-inline
      = f.text_field :body_fat_percentage, class: "form-control mr-1 w-100", "data-error_placement": "#body_fat_percentage_error"
      \%
    #body_fat_percentage_error
  - if current_customer.trying_diet_methods.present?
    .field.form-group
      .font-weight-bold.mb-2.mt-3 チェックリスト
      = f.fields_for :check_list_diaries do |c|
        - i = 0
        - current_customer.trying_diet_methods.each do |method|
          - method.check_lists.where(is_deleted: false).each do |list|
            %div{ data: {index: "#{i}"} }
              = c.check_box :check_list_id, {name: "diary[check_list_diaries_attributes][#{i}][check_list_id]"}, list.id, nil
              = list.body
            - i += 1
  .actions
    = f.submit "投稿", class: "btn btn-success btn-block"