.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar"
    .col-md-9
      %table.table.table-borderless
        %tr
          %td.profile_image.text-center{rowspan: "4"}
            = link_to customer_path(@diary.customer), class: "text-dark" do
              = attachment_image_tag(@diary.customer, :profile_image, size: "70x70", fallback: "no_image.png")
              %br
              = @diary.customer.name
          %td.w-25
            %h3
              = @diary.title
          %td.small.text-secondary
            now：
            = @diary.weight
            cm
            = @diary.body_fat_percentage
            %br
            goal：
            = @diary.customer.target_weight
            kg
            =@diary.customer.target_body_fat_percentage
            ％
          %td
            = @diary.created_at.strftime("%m月%d日 %H:%M")
      - @diary.checked_lists.each do |checked_list|
        %i.far.fa-check-square
        = checked_list.body
      - current_customer.trying_diet_methods.each do |trying_method|
        - checked_list_ids = @diary.checked_lists.pluck(:id)
        - trying_method.check_lists.where.not(id: checked_list_ids).each do |unchecked_list|
          %i.far.fa-square
          = unchecked_list.body
      - if @diary.body.present?
        = @diary.body
      - if @diary.image_id.present?
        = attachment_image_tag(@diary, :image, size: "700x400", fallback: "no_image.png")
      %div{:id => "favorites_buttons_#{@diary.id}"}
        = render "diary_favorites/favorite", diary: @diary
      - if @diary.customer = current_customer
        = link_to "編集", edit_diary_path(@diary.id)
        |
        = link_to "削除", diary_path(@diary.id), method: :delete, data: { confirm: "日記を削除してもよろしいですか？" }
      #comments
        = render "diary_comments/index", diary: @diary
      #new-comments
        = form_with(model: [@diary, @diary_comment]) do |f|
          = f.text_area :body, size: "50x3", placeholder: "コメントする"
          = f.submit "送信"