.container
  .row.mt-4
    .col-md-12
      %h1.mb-4.pb-3 ダイエット方法編集
      = render "layouts/errors", obj: @diet_method
      .new-diet-method-form
        = form_with model: @diet_method, url: admin_diet_method_path, local: true do |f|
          .field
            = f.label :title, "タイトル", class: "font-weight-bold"
            .form-inline
              = f.text_field :title, size: 24, class: "form-control"
          .field
            = f.label :tag_list, "タグ", class: "font-weight-bold"
            .form-inline
              = f.text_field :tag_list, value: @diet_method.tag_list.join(','), id: "tags", class: "form-control tag_form d-none"
          .field
            = f.label :way, "やり方・効果", class: "font-weight-bold"
            .form-group
              = f.text_area :way, size: "autox10", class: "form-control"
          .field
            = f.label :attention, "注意点", class: "font-weight-bold"
            .form-group
              = f.text_area :attention, size: "autox10", class: "form-control"
          .field
            = f.label :image, "画像", class: "font-weight-bold"
            .form-inline
              = f.attachment_field :diet_method_images_images, multiple: true
          .check_list_field
            .font-weight-bold チェックリスト
            = f.fields_for :check_lists do |list|
              .js-file-group.mb-2{ data: {index: "#{list.index}"} }
                .form-inline
                  = list.text_field :body, size: 24, class: "form-control"
                  %span.delete-form-btn.ml-3.text-danger.font-weight-bold
                    削除
                - if @diet_method.persisted?
                  = list.check_box :is_deleted, {data:{ index: list.index }, class: "hidden-destroy"}, true, false
          .add-form-btn.text-success.font-weight-bold
            追加する＋
          .actions.mt-4
            = f.submit "編集する", class: "btn btn-success btn-block"