.container.mt-4
  .row
    .col-md-12
      .row.pt-2
        .col-md-5
          .d-flex
            .text-center
              = link_to admin_customer_path(@diet_method.customer), class: "text-dark font-weight-bold" do
                = attachment_image_tag(@diet_method.customer, :profile_image, size: "70x70", fallback: "no_image.png")
                %br
                = @diet_method.customer.name
            %h3.ml-3.mt-3
              = @diet_method.title.truncate(10)
        .col-md-4.d-flex.justify-content-between.align-items-start.mt-3
          .info
            %span.badge.badge-danger
              now
            = @diet_method.customer.height
            cm&nbsp;
            = @diet_method.customer.diaries.last.weight
            kg&nbsp;
            = @diet_method.customer.diaries.last.body_fat_percentage
            \%
            %br
            %span.badge.badge-success
              goal
            = @diet_method.customer.target_weight
            kg&nbsp;
            = @diet_method.customer.target_body_fat_percentage
            \%
        .col-md-3.d-flex.justify-content-between.align-items-start.mt-3
          = link_to "編集", edit_admin_diet_method_path(@diet_method), class: "btn btn-success"
          %button.btn.btn-danger.mb-3{"data-target" => "#destroy_confirm", "data-toggle" => "modal", type: "button"}
            削除
          #destroy_confirm.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "label1", role: "dialog", tabindex: "-1"}
            .modal-dialog{role: "document"}
              .modal-content
                .modal-header
                  %h5#label1.modal-title 削除確認
                  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                    %span{"aria-hidden" => "true"} ×
                .modal-body
                  日記を削除しますか？
                .modal-footer
                  %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close
                  = link_to "削除", admin_diet_method_path(@diet_method), method: :delete, class: "btn btn-danger"
      .row.py-2
        .col-md-12
          - if @diet_method.way.present?
            = safe_join(@diet_method.way.truncate(200).split("\n"),tag(:br))
      .row.py-2
        .col-md-12
          %ul.text-success
            - @diet_method.check_lists.each do |list|
              %li
                = list.body
      - if @diet_method.diet_method_images.present?
        .images-wrapper
          - @diet_method.diet_method_images.each do |image|
            .image.text-center.border
              = attachment_image_tag(image, :image, size: "825x400")
      .row
        .col-md-12.text-right
          #{time_ago_in_words(@diet_method.created_at).upcase}前
      #comments.mt-4
        = render "diet_method_comments/index", diet_method: @diet_method
