.container.mt-4
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      %h1.text-center.en.mb-0.mt-3 Search
      %p.text-center.mb-0.pb-3 検索結果
      #finder-tab-menu.d-flex.justify-content-between
        .mt-4.w-100.active
          = link_to "日記", "#diary", class: "btn btn-danger btn-block btn-lg"
        .mt-4.w-100
          = link_to "ダイエット方法", "#method", class: "btn btn-outline-secondary btn-block btn-lg"
        .mt-4.w-100
          = link_to "ユーザー", "#customer", class: "btn btn-outline-secondary btn-block btn-lg"
      #finder-tab-contents
        #diary.tab
          = render "diary_search"
          - if @diaries.present?
            = render "diaries/index", diaries: @diaries
          - else
            条件に合致する日記はありません。
        #method.tab
          = render "diet_method_search"
          - if @diet_methods.present?
            = render "diet_methods/index", diet_methods: @diet_methods
          - else
            条件に合致するダイエット方法はありません。
        #customer.tab
          = render "customer_search"
          - if @customers.present?
            = render "customers/index", customers: @customers
          - else
            条件に合致するユーザーはいません。