%h2 ブロックしているユーザー一覧
- customers.each do |customer|
  = link_to customer_path(customer.id), class: "text-decoration-none", data: {"turbolinks" => false} do
    .table_link.border-bottom
      %table.table.table-borderless
        %tr
          %td.profile_image.w-25
            = attachment_image_tag(customer, :profile_image, size: "70x70", fallback: "no_image.png")
          %td
            %h3
              = customer.name
          %td
            - if current_customer.blocking?(customer)
              = link_to "ブロック解除", "#", class: "btn btn-danger rounded-pill", "data-target": "#block-confirm-#{customer.id}", "data-toggle": "modal", type: "button"
            - else
              = link_to "ブロック", "#", class: "btn btn-outline-danger rounded-pill", "data-target": "#block-confirm-#{customer.id}", "data-toggle": "modal", type: "button"
            = render "blocks/block_form", customer: customer
        - if customer.introduce.present?
          %tr{colspan: "3"}
            %td= customer.introduce