%h2.mb-4 プロフィール編集
.customer-setting-form
  = form_with model: customer, url: customer_registration_path, local: true do |f|
    = render "devise/shared/error_messages", resource: customer
    %table.table.table-borderless
      %tr
        %td.w-25.position-relative
          = attachment_image_tag customer, :profile_image, :fill, 120, 120, fallback: "no_image.png", size: "120x120"
          = f.attachment_field :profile_image, {onchange: "this.form.submit()", id: "file"}
          %i.fas.fa-camera.icon.text-light{onClick: "$('#file').click()"}
      %tr
        %th.w-25 ユーザー名
        %td.w-25= f.text_field :name, placeholder: "10文字以内"
      %tr
        %th メールアドレス
        %td= f.text_field :email, placeholder: "dieter@sample.com"
      %tr
        %th 性別
        %td
          = f.radio_button :gender, "male"
          男性
          = f.radio_button :gender, "female"
          女性
      %tr
        %th 身長
        %td
          = f.text_field :height, placeholder: "170.9"
        %td
          cm
      %tr
        %th 目標体重
        %td
          = f.text_field :target_weight, placeholder: "67.6"
        %td
          kg
      %tr
        %th 目標体脂肪率
        %td
          = f.text_field :target_body_fat_percentage, placeholder: "15.3"
        %td
          ％
      %tr
        %th ダイエットスタイル
        %td.form-group
          = f.check_box :diet_style1 ,{}, "true", "false"
          運動メイン
          %br
          = f.check_box :diet_style2 ,{}, "true", "false"
          食事制限メイン
          %br
          = f.check_box :diet_style3 ,{}, "true", "false"
          長期継続
          %br
          = f.check_box :diet_style4 ,{}, "true", "false"
          短期集中
      %tr
        %th
        %td= f.submit "編集内容を保存", class: "btn btn-success px-5"