.container.mt-5
  .row.mt-4
    .col-md-3
      = render "layouts/sidebar"
    .col-md-9
      #tab-contents
        #profile.tab
          = render "profile", customer: current_customer
        #block.tab
          = render "block", customers: @blocking_customers
        #notification.tab
          = render "notification", customers: @notification_customers
        #withdraw.tab
          = render "withdraw", customer: current_customer

