.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      = render "graph"
      %table.table.table-borderless
        %tr
          %td.text-center{rowspan: "2"}
            = attachment_image_tag(@customer, :profile_image, size: "70x70", fallback: "no_image.png")
            %br
            Lv24
          %td.w-25
            %h3
              = @customer.name
          %td.w-25
            = link_to followings_customer_path(@customer), class: "text-dark" do
              %span{:id => "followings_count_#{@customer.id}"}
                = @customer.followings.count
              フォロー中
            %br
            = link_to followers_customer_path(@customer), class: "text-dark" do
              %span{:id => "followers_count_#{@customer.id}"}
                = @customer.followers.count
              フォロワー
          %td.w-25
            - if current_customer != @customer
              %span{:id => "follow_bottons_#{@customer.id}"}
                = render "relationships/follow_form", customer: @customer
          %td.w-25
            %i.fas.fa-ellipsis-h.icon
            %i.far.fa-bell.icon
        - if @customer.introduce.present?
          %tr
            %td{colspan: "4"}
              = @customer.introduce
      - if current_customer != @customer
        %span{:id => "block_bottons_#{@customer.id}"}
          = render "blocks/block_form", customer: @customer
        = link_to "チャット", chat_path(@customer.id)
      %table.table.table-bordered
        %tr.bg-secondary.text-light.text-center
          %th.w-25
            性別
          %th.w-25
            身長
          %th.w-25
            目標体重
          %th.w-25
            目標体脂肪率
        %tr.text-center
          %td
            = @customer.gender
          %td
            = @customer.height
            cm
          %td
            = @customer.target_weight
            kg
          %td
            = @customer.target_body_fat_percentage
            ％
        - if @customer.diet_style1 || @customer.diet_style2 || @customer.diet_style3 || @customer.diet_style4
          %tr.bg-secondary.text-light.text-center
            %th{colspan: "4"}
              ダイエットスタイル
          %tr.text-center
            %td{colspan: "4"}
              - if @customer.diet_style1
                運動メイン
                %br
              - if @customer.diet_style2
                食事制限メイン
                %br
              - if @customer.diet_style3
                長期継続
                %br
              - if @customer.diet_style1
                短期集中
                