.container
  .row
    .col-md-6.mx-auto
      %h2 管理者ログイン
      = form_with model: @admin, url: admin_session_path, local: true do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'form-control mb-2'
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "current-password", class: 'form-control mb-2'
        .actions
          = f.submit "ログイン", class: 'btn btn-primary px-5'
