.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar"
    .col-md-9
      .card.shadow-sm.new-registration-wrapper
        .card-header
          %h2.text-center ログイン
        .card-body
          .col-md-6.mx-auto
            .new-session-form.mt-4
              = form_with model: @customer, url: customer_session_path, local: true do |f|
                = render "devise/shared/error_messages", resource: resource
                .field
                  = f.label :email, "メールアドレス", class: "font-weight-bold"
                  %br/
                  = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'form-control mb-2'
                .field
                  = f.label :password, "パスワード", class: "font-weight-bold"
                  %br/
                  = f.password_field :password, autocomplete: "current-password", class: 'form-control mb-2', placeholder: "パスワード(6文字以上)"
                .actions
                  = f.submit "ログイン", class: 'btn btn-success px-5 btn-block'
            = link_to omniauth_authorize_path(resource_name, "google_oauth2"), class: "btn btn-outline-secondary my-4 btn-block" do
              = image_tag 'google_icon.png', size: "20x20"
              Googleでログインする
            = link_to omniauth_authorize_path(resource_name, "twitter"), class: "btn btn-outline-secondary mb-4 btn-block" do
              %i.fab.fa-twitter.text-primary
              Twitterでログインする
            = link_to customers_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary btn-block mb-4" do
              %i.fas.fa-user-check
              ゲストログイン（閲覧用）
            = link_to customers_guest2_sign_in_path, method: :post, class: "btn btn-outline-secondary btn-block mb-4" do
              %i.fas.fa-user-check
              ゲストログイン2（チャット・通知など）
            %p
              会員登録がお済みでない方は
              = link_to "こちら", new_registration_path(resource_name)
              から新規登録を行ってください。


