.container.mt-5
  .row
    .col-md-12
      %h1.mb-0.mt-3 報告一覧
      #report-tab-menu.d-flex.justify-content-between
        .my-4.w-100.active
          = link_to "日記(#{@diaries.count + @diary_comments.count})", "#diary", class: "btn btn-danger btn-block btn-lg"
        .my-4.w-100
          = link_to "ダイエット方法(#{@diet_methods.count + @diet_method_comments.count})", "#method", class: "btn btn-outline-secondary btn-block btn-lg"
        .my-4.w-100
          = link_to "ユーザー(#{@customers.count})", "#customer", class: "btn btn-outline-secondary btn-block btn-lg"
      #report-tab-contents
        #diary.tab
          #diary-tab-menu.font-weight-bold
            %input.mr-1{type: "radio", value: "#diary-post", name: "diary", checked: "checked"} 投稿
            %input.ml-3.mr-1{type: "radio", value: "#diary-comment", name: "diary"} コメント
          #diary-tab-contents
            #diary-post.tab.d-none.active
              = render "diaries", diaries: @diaries
            #diary-comment.tab.d-none
              = render "diary_comments", diary_comments: @diary_comments
        #method.tab
          #method-tab-menu.font-weight-bold
            %input.mr-1{type: "radio", value: "#method-post", name: "method", checked: "checked"} 投稿
            %input.ml-3.mr-1{type: "radio", value: "#method-comment", name: "method"} コメント
          #method-tab-contents
            #method-post.tab.d-none.active
              = render "diet_methods", diet_methods: @diet_methods
            #method-comment.tab.d-none
              = render "diet_method_comments", diet_method_comments: @diet_method_comments
        #customer.tab
          = render "customers", customers: @customers
