.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      %h1.text-center.en.mb-0.mt-3 achievement
      %p.text-center.mb-0.pb-3 達成項目
      %table.table.table-bordered.text-center
        %tr
          %th.bg-success.text-white{colspan: 5}
            バッチをクリックで詳細を表示
        %tr
          - Achievement.where(id: 1..5).each do |achievement|
            %td
              - if CustomerAchievement.where(customer_id: current_customer.id, achievement_id: achievement.id).present?
                %i.achievement-icon.text-danger{class: "#{achievement.batch}", "data-toggle": "tooltip", title: "#{achievement.title}"}
              - else
                %i.achievement-icon{class: "#{achievement.batch}", "data-toggle": "tooltip", title: "#{achievement.title}"}
        %tr
          - Achievement.where(id: 6..10).each do |achievement|
            %td
              %i.achievement-icon{class: "#{achievement.batch}", "data-toggle": "tooltip", title: "#{achievement.title}"}
        %tr
          - Achievement.where(id: 11..15).each do |achievement|
            %td
              %i.achievement-icon{class: "#{achievement.batch}", "data-toggle": "tooltip", title: "#{achievement.title}"}
      - Achievement.where(id: 1..5).each do |achievement|
        .card.mb-3.shadow-sm
          .card-header
            %h3
              = achievement.title
          .card-body.d-flex.justify-content-between.align-items-center
            %span
              = achievement.description
            %span
              難易度：
              = achievement.difficulty
            .btn.btn-danger
              達成済み
      - Achievement.where(id: 6..15).each do |achievement|
        .card.mb-3.shadow-sm
          .card-header
            %h3
              = achievement.title
          .card-body.d-flex.justify-content-between.align-items-center
            %span
              = achievement.description
            %span
              難易度：
              = achievement.difficulty
            .btn.btn-danger
              達成済み