.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      -if @tag.present?
        %h2 「#{@tag}」のダイエット方法一覧
      -else
      .border-bottom
        - if @tags.present?
          - @tags.each do |tag|
            = link_to "#{tag.name}(#{tag.taggings_count})", diet_methods_path(tag: tag.name)
        - else
          %p 登録されているタグはありません
      = render "index", diet_methods: @diet_methods