.container
  .row
    .col-md-3
      .sidebar
        .card.shadow-sm.mb-3
          .card-body
            = render "diet_methods/search"
        = render "layouts/sidebar", diary: @diary
    .col-md-9
      -if @tag.present?
        %h2{style: "margin-top:128px"} 「#{@tag}」のダイエット方法一覧
      -else
        %h1.text-center.en.mb-0.mt-3 DietMethods
        %p.text-center.mb-0.pb-3 ダイエット方法
      .border-bottom
        - if @tags.present?
          %i.font-weight-bold.fas.fa-tags
            人気のタグ
          - @tags.each do |tag|
            .badge.badge-white.border.rounded-pill
              \#
              = link_to "#{tag.name}(#{tag.taggings_count})", diet_methods_path(tag: tag.name), class: "text-dark"
        - else
          %p 登録されているタグはありません
      = render "index", diet_methods: @diet_methods