.container
  .row
    .col-md-3
      = render "layouts/sidebar", diary: @diary
    .col-md-9
      %h1.mb-4 ダイエット方法の投稿
      = render "layouts/errors", obj: @diet_method
      .new-diet-method-form
        = form_with model: @diet_method, local: true do |f|
          .field
            = f.label :title, "タイトル"
            %br/
            = f.text_field :title
          .field
            = f.label :tag_list, "タグ"
            %br/
            = f.text_field :tag_list, value: @diet_method.tag_list.join(','), id: "tags"
          .field
            = f.label :way, "やり方・効果"
            %br/
            = f.text_area :way, size: "100x5"
          .field
            = f.label :attention, "注意点"
            %br/
            = f.text_area :attention, size: "100x5"
          .field
            = f.label :image, "画像"
            %br/
            = f.attachment_field :image
          .check_list_field
            チェックリスト
            = f.fields_for :check_lists do |list|
              .js-file-group{ data: {index: "#{list.index}"} }
                = list.text_field :body
                %span.delete-form-btn
                  削除する
                - if @diet_method.persisted?
                  = list.check_box :_destroy, data:{ index: list.index }, class: "hidden-destroy"
          .add-form-btn
            追加する
          .actions.mt-4
            = f.submit "投稿", class: "btn btn-success"