.container.mt-5
  .row
    .col-md-3
      = render "layouts/sidebar", diary: @diary
    .col-md-9
      .card.mb-3.shadow-sm
        .card-body
          .row.pt-2
            .col-md-12
              .d-flex
                .text-center
                  = link_to customer_path(@diet_method.customer), data: {"turbolinks" => false}, class: "text-dark font-weight-bold" do
                    = attachment_image_tag(@diet_method.customer, :profile_image, :fill, 70, 70, fallback: "no_image.png", size: "70x70")
                    %br
                    = @diet_method.customer.name
                %h3.ml-3.mt-3
                  = @diet_method.title.truncate(10)
          .row
            .col-md-9.d-flex.justify-content-between.align-items-start.mt-3
              .info
                %span.badge.badge-danger
                  now
                = @diet_method.customer.height
                cm&nbsp;
                - if @diet_method.customer.diaries.last.present?
                  = @diet_method.customer.diaries.last.weight
                  kg&nbsp;
                  = @diet_method.customer.diaries.last.body_fat_percentage
                  \%
                %br
                %span.badge.badge-success
                  goal
                = @diet_method.customer.target_weight
                kg&nbsp;
                = @diet_method.customer.target_body_fat_percentage
                \%
            .col-md-3.d-flex.justify-content-between.align-items-start.mt-3
              - if customer_signed_in?
                %div{:id => "tries_buttons_#{@diet_method.id}"}
                  = render "tries/try", diet_method: @diet_method
                #dropdowndiet_methodMenuButton{"data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
                  %i.fas.fa-ellipsis-h.icon.btn.btn-outline-danger.rounded-circle.p-2.mr-3{title: "もっと見る"}
                .dropdown-menu.dropdown-menu-right.text-center{"aria-labelledby": "dropdowndiet_methodMenuButton"}
                  - if current_customer == @diet_method.customer
                    = link_to edit_diet_method_path(@diet_method), class: "text-dark d-block" do
                      %i.far.fa-edit
                      編集
                    = link_to "#", class: "text-dark d-block", "data-target": "#destroy-confirm-#{@diet_method.id}", "data-toggle": "modal", type: "button" do
                      %i.far.fa-trash-alt
                      削除
                  - else
                    - if current_customer.blocking?(@diet_method.customer)
                      = link_to "ブロック解除", "#", class: "text-dark d-block", "data-target": "#block-confirm-#{@diet_method.customer.id}", "data-toggle": "modal", type: "button"
                    - else
                      = link_to "#", class: "text-dark d-block", "data-target": "#block-confirm-#{@diet_method.customer.id}", "data-toggle": "modal", type: "button" do
                        %i.fas.fa-ban
                        ブロック
                    - if Report.where(visitor_id: current_customer.id, diet_method_id: @diet_method.id).present?
                      報告済みです
                    -else
                      = link_to reports_path(diet_method_id: @diet_method.id), method: :post, class: "text-dark" do
                        %i.fas.fa-bullhorn
                        報告
                = render "blocks/block_form", customer: @diet_method.customer
                = render "diet_methods/destroy_modal", diet_method: @diet_method
          .row.py-2
            .col-md-12
              - @diet_method.tags.each do |tag|
                %span.badge.badge-success
                  = tag.name
          .row.py-2
            .col-md-12
              - if @diet_method.way.present?
                .font-weight-bold.text-danger やり方・効果
                = safe_join(@diet_method.way.split("\n"),tag(:br))
          .row.py-2
            .col-md-12
              - if @diet_method.attention.present?
                .font-weight-bold.text-danger 注意点
                = safe_join(@diet_method.attention.split("\n"),tag(:br))
          .row.py-2
            .col-md-12
              - if @diet_method.check_lists.where(is_deleted: false).present?
                .font-weight-bold.text-danger チェックリスト
                %ul.pl-3
                  - @diet_method.check_lists.where(is_deleted: false).each do |list|
                    %li
                      = list.body
          - if @diet_method.diet_method_images.present?
            .images-wrapper
              - @diet_method.diet_method_images.each do |image|
                .image.text-center.border
                  = attachment_image_tag(image, :image, :fit, 783, 440)
          .row
            .col-md-1
              - if customer_signed_in?
                %div{:id => "favorites_buttons_#{@diet_method.id}"}
                  = render "diet_method_favorites/favorite", diet_method: @diet_method
              - else
                %i.far.fa-heart
                  - if @diet_method.diet_method_favorites.present?
                    = @diet_method.diet_method_favorites.count
            .col-md-1
              %i.far.fa-comment{title: "コメント"}
              %span#comment_count
                - if @diet_method.diet_method_comments.present?
                  = @diet_method.diet_method_comments.count
            .col-md-10.text-right
              #{time_ago_in_words(@diet_method.created_at).upcase}前
      .card.mb-3.shadow-sm
        .card-body
          - if customer_signed_in?
            #new-comments.mt-3
              = form_with(model: [@diet_method, @diet_method_comment]) do |f|
                .input-group.form-inline
                  = f.text_area :body, size: "autox1", placeholder: "コメントする", class: "w-100"
                  = f.submit "送信", class: "btn btn-success"
          #comments.mt-4
            = render "diet_method_comments/index", diet_method: @diet_method
