.container
  .row
    .col-md-3
      .sidebar
        = render "layouts/sidebar"
    .col-md-9
      %table.table.table-borderless
        %tr
          %td.profile_image.text-center{rowspan: "4"}
            = link_to customer_path(@diet_method.customer), class: "text-dark" do
              = attachment_image_tag(@diet_method.customer, :profile_image, size: "70x70", fallback: "no_image.png")
              %br
              = @diet_method.customer.name
          %td.w-25
            %h3
              = @diet_method.title
          %td.small.text-secondary
            goal：
            = @diet_method.customer.target_weight
            kg
            =@diet_method.customer.target_body_fat_percentage
            ％
          %td
            = @diet_method.created_at.strftime("%m月%d日 %H:%M")
      %h2 やり方・効果
      = @diet_method.way
      %br
      = attachment_image_tag(@diet_method, :image, size: "700x400", fallback: "no_image.png")
      %br
      いいね　コメント
      - if @diet_method.customer = current_customer
        = link_to "編集", edit_diet_method_path(@diet_method.id)
        |
        = link_to "削除", diet_method_path(@diet_method.id), method: :delete, data: { confirm: "ダイエット方法を削除してもよろしいですか？" }
      実践する