.flex-column
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li= link_to "ユーザー", customers_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "日記", diaries_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "ダイエット方法", diet_methods_path , class: "nav-link text-dark btn btn-outline-dark mr-3"
      %li= link_to "ランキング", ranking_customers_path , class: "nav-link text-dark btn btn-outline-dark mr-3", data: {"turbolinks" => false}
//   = render "search/search_form"
.dropdown
  %button#dropdownMenuButton.btn.btn-outline-secondary.dropdown-toggle{type: "button", "data-toggle": "dropdown", "aria-haspopup": "true", "aria-expanded": "false"}
    = current_customer.name
  .dropdown-menu.text-center{"aria-labelledby": "dropdownMenuButton"}
    = link_to "設定", setting_path, class: "text-dark d-block", data: {"turbolinks" => false}
    = link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "text-dark d-block"
    = link_to "お問い合わせ", new_contact_path, class: "text-dark d-block"
Lv.
= current_customer.level
- threshold = LevelSetting.find_by(level: current_customer.level + 1).threshold
%meter{min: 0, max: threshold, value: current_customer.total_exp, "data-toggle": "tooltip", title: "あと#{threshold - current_customer.total_exp}exp"}
.notification-wrapper.position-relative
  #bell-button
    = link_to notifications_checked_path, {method: :patch, remote: true, class: "text-dark"}  do
      = render "notifications/bell_button"
  %i#up-button.far.fa-bell.icon
  .header-notification.p-3.border
    .d-flex.justify-content-between.mb-3
      %i.far.fa-bell 通知一覧
      = link_to "通知設定", setting_path(anchor: 'notification'), data: {"turbolinks" => false}, class: "ml-auto"
    = render "notifications/index", notifications: @header_notifications
    .text-center
      = link_to "通知一覧", notifications_path
%button{class: "navbar-toggler", type: "button", "data-toggle": "collapse", "data-target": "#navbarNavDropdown", "aria-controls": "navbarNavDropdown", "aria-expanded": "false", "aria-label": "Toggle navigation"}
  %span.navbar-toggler-icon
