!!!
%html
  %head
    %title Dieter
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}
  %body
    %header.border-bottom.sticky-top
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        %a.navbar-brand.text-center{href: "/"}
          = image_tag "ダンベルアイコン9.png", size: "70x40"
          %br
          Dieter
        - if admin_signed_in? && request.fullpath.include?("admin")
          = render "layouts/admin_signed_in_nav"
        - elsif customer_signed_in?
          = render "layouts/signed_in_nav"
        - else
          = render "layouts/before_signed_in_nav"

    %main
      - flash.each do |key, value|
        - if key == 'notice'
          %p.alert.alert-success
            = value
            %button.close{"type" => "button", "data-dismiss" => "alert"} &times;
        - else
          %p.alert.alert-danger
            = value
            %button.close{"type" => "button", "data-dismiss" => "alert"} &times;
      = yield
    %footer.border-top.mt-5
